.background_img {
    background: 
    url('https://images.unsplash.com/photo-1608806875874-b4837ec38f88?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2822&q=80');
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_container {
    background-color: #333436dc;
    width: 50%;
    min-width: 400px;
    min-height: 360px;
    height: 40%;
    margin: auto;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
}

.login_sign {
    font-size: 40px;
    color: aliceblue;
    font-weight: 500;
}

.email {
    width: 70%;
    height: 50px;
    font-size: 30px;
    background-color: #f3f3d1;
}

.pass {
    width: 70%;
    height: 50px;
    font-size: 30px; 
    background-color: #f3f3d1;

}

.login_btn {
    width: 30%;
    height: 50px;
    font-size: 30px; 
    background-color: #f3f3d1;
}

.logout_btn {
    width: 30%;
    height: 50px;
    font-size: 30px; 
    background-color: #e5d1f3;
}