{% if message %}
<script>
    alert('{{ message }}');
</script>
{% endif %}

<form action="" method="post">
    <label for="your_name"> Your name: </label>
    <input id="your_name" type="text" name="your_name" value={{ saved_name }} >
    <label for="your_pass"> Your pass: </label>
    <input id="your_pass" type="password" name="your_pass" value="" >
    <input type="submit" value="Zaloguj">
</form>